
<div class="main">
	<section class="section-hero">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="hero-content text-center">
						<h1><strong class="text-green">Hi, we’re Leo.</strong> <br>Smart and simple <br>health insurance.</h1>
						<hr class="break break40">
						<p><a class="btn btn-green" href="#">Get Your Quote</a></p>
						<a href="#" id="section_next" data-section="section_features"></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section" id="section_features">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="section-titles">
						<h2>BETTER CARE, LOWER COST</h2>
						<p>We’re revolutionizing health insurance through <br>technology, data, and design.</p>
					</div>
				</div>
				<hr class="break break30">
				<div class="col-sm-4">
					<div class="app-blurb padding-20 text-center">
						<figure>
							<%= image_tag("img_deine-leistungen.png", alt: "", height: "200") %>
						</figure>
						<h3>Better Plans</h3>
						<p>Choose from plans that are easy to understand, provide comprehensive coverage, and give you lots of free perks.</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="app-blurb padding-20 text-center">
						<figure>
							<%= image_tag("doctor-stand.jpg", alt: "", height: "200") %>
						</figure>
						<h3>Better Healthcare</h3>
						<p>Access thousands of top-notch doctors in your area, talk to a doctor 24/7, and visit your primary care doctor for free.</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="app-blurb padding-20 text-center">
						<figure>
							<%= image_tag("img_arztsuchen.png", alt: "", height: "200") %>
						</figure>
						<h3>Better Experience</h3>
						<p>Use our app or website to find the right doctors, manage prescriptions, and earn rewards for staying active.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<hr class="bg-graylight">

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="section-blurb">
						<hr class="break break50">
						<h1 class="ptserif">Modern technology <br>for modern care</h1>
						<hr class="break break20">
						<p>We’re using technology to simplify the entire health insurance experience. You can use our app to talk to a doctor and get prescriptions without ever leaving home. Keep track of your health history with a timeline and earn rewards for staying active with a free Misfit step tracker.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<%= image_tag("section_ipad-iphone.png", alt: "", height: "400") %>
				</div>
			</div>
		</div>
	</section>

	<hr class="bg-graylight">

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="section-blurb">
						<hr class="break break70">
						<h1 class="ptserif">Help us make healthcare simple, smart, and friendly</h1>
						<hr class="break break20">
						<p>As a team of engineers, designers, data scientists, healthcare experts and many more, we're on a mission to reinvent how care is delivered. Our goal is to have the happiest members paying the lowest costs for the healthiest outcomes.</p>
						<p>If you’re not in our area, stay tuned. We’re expanding quickly.</p>
					</div>
				</div>
				<div class="col-sm-6 text-center">
					<%= image_tag("doctor-checkup.jpg", alt: "", height: "400") %>
				</div>
			</div>
		</div>
	</section>

	<hr class="bg-graylight">

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<form method="post">
						<div class="row gutter10">
							<div class="col-sm-6">
								<div class="form-group">
									<input type="text" class="form-control" name="name" placeholder="Name">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<input type="text" class="form-control" name="phone" placeholder="Phone numbers">
								</div>
							</div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="email" placeholder="Email address">
						</div>
						<div class="form-group">
							<textarea class="form-control" rows="5" name="message" placeholder="Message"></textarea>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<span class="form-required">* Required field</span>
							</div>
							<div class="col-sm-6 text-right">
								<button type="button" class="btn btn-primary">SUBMIT</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-sm-6">
					<div class="section-blurb padding-left30">
						<h1 class="ptserif">Easy to keep In-Touch</h1>
						<hr class="break break20">
						<p>In aliquet ultricies sapien in adipiscing. In scelerisque vitae quam id tempus. Sed pulvinar erat in purus sodales, at euismod dolor elementum. Ut sapien ipsum, tristique quis dapibus fringilla, condimentum in dolor.</p>
						<p>Festibulum <a href="#">Ornare dignissim</a> malesuada. Integer consectetur pharetra massa quis dignissim.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>

<!-- Footer -->
<footer>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<p>2016 © ec-kartenlesegeraet.de &nbsp; &nbsp; <a href="#">Impressum</a></p>
				</div>
			</div>
		</div>
	</div>
</footer>


