
<div class="main">
	<section class="section-hero">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="hero-content text-center">
						<h1><strong class="text-green">Hi, wir sind Mia.</strong> <br>Die einfache und digitale<br>private Krankenversicherung.</h1>
						<hr class="break break40">
						<p><a class="btn btn-green" href="#contact">Mehr erfahren</a></p>
						<a href="#" id="section_next" data-section="section_features"></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section" id="section_features">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="section-titles">
						<h2>Bessere Versorgung, niedrigere Kosten</h2>
						<p>Wir revulitionieren deine Gesundheitsversorgung durch <br>Technologie, Daten und innovativen Angeboten.</p>
					</div>
				</div>
				<hr class="break break30">
				<div class="col-sm-4">
					<div class="app-blurb padding-20 text-center">
						<figure>
							<%= image_tag("img_deine-leistungen.png", alt: "", height: "200") %>
						</figure>
						<h3>Bessere Leistungen</h3>
						<p>Wähle deine Leistungen aus unserem Katalog. Er ist einfach zu verstehen und bietet dir einen umfassenden Schutz und viele innovative Angebote.</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="app-blurb padding-20 text-center">
						<figure>
							<%= image_tag("doctor-stand.jpg", alt: "", height: "200") %>
						</figure>
						<h3>Bessere Versorgung</h3>
						<p>Lasse dich von den besten Ärzten in Deutschland behandeln oder dich von unseren Mitarbeitern 24/7 kostenlos beraten. Nutze innovative Angebote, um Gesund zu bleiben.</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="app-blurb padding-20 text-center">
						<figure>
							<%= image_tag("img_arztsuchen.png", alt: "", height: "200") %>
						</figure>
						<h3>Besserer Service</h3>
						<p>Benutze unsere  App oder Webseite, um den richtigen Arzt zu finden, Termine zu buchen oder deine Gesundheitsdaten sicher zu verwalten und erhalte einen Bonus, wenn du aktiv bleibst.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<hr class="bg-graylight">

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="section-blurb">
						<hr class="break break50">
						<h1 class="ptserif">Moderne Technologie für <br>eine moderne Versorgung</h1>
						<hr class="break break20">
						<p>Wir nutzen moderne Technologie, um deine Interaktion mit uns besonders einfach zu gestalten. Du kannst unsere App nutzen, um Ärzte zu kontaktieren und den Überblick über deine Gesundheitsdaten zu behalten. Tracke deine Aktivität und erhalte einen Bonus, wenn du aktiv bleibst.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<%= image_tag("section_ipad-iphone.png", alt: "", height: "400") %>
				</div>
			</div>
		</div>
	</section>

	<hr class="bg-graylight">

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="section-blurb">
						<hr class="break break70">
						<h1 class="ptserif">Hilf uns, die Gesundheitsversorgung einfach und patientenfreundlicher zu gestalten.</h1>
						<hr class="break break20">
						<p>Unser Team aus Software-Entwicklern, Medizinern, Designern und Wissenschaftlern arbeitet täglich gemeinsam mit unseren Versicherten daran, die Gesundheitsversorgung zu revulotionieren. Unser Ziel ist es, dass unsere Versicherten die niedrigsten Beiträge zahlen, um glücklich und gesund mit der bestmöglichen Versorgung leben zu können.</p>
					</div>
				</div>
				<div class="col-sm-6 text-center">
					<%= image_tag("doctor-checkup.jpg", alt: "", height: "400") %>
				</div>
			</div>
		</div>
	</section>

	<hr class="bg-graylight">

	<section class="section" id="contact">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="section-blurb padding-bottom30">
						<h1 class="ptserif">Du möchtest mehr erfahren?</h1>
						<hr class="break break20">
						<p>Du möchtest mehr über die Versicherung von Mia erfahren? Du möchtest dich selbst oder ein Familienmitglieder privat krankenversichern? Oder du möchtest uns Feedback geben und dich mit uns austauschen? Dann kontaktiere uns jetzt!</p>
					</div>
				</div>
				<div class="col-md-6 col-ms-6">
					<%= flash[:notice] %>
					<%= form_tag("/static_pages/thank_you") do %>
					  	<div class="row gutter10">
							<div class="col-sm-6">
							    <div class="form-group">
							      <%= text_field_tag :name, nil, class: "form-control", placeholder: "Name" %>
							    </div> 
					    	</div>
					    	<div class="col-sm-6">     
							    <div class="form-group">
							      <%= text_field_tag :email, nil, class: "form-control", placeholder: "Email-Adresse" %>
							    </div>
						    </div>
						</div>	    
					    <div class="form-group">
					      <%= text_area_tag :message, nil, class: "form-control", placeholder: "Nachricht", rows:"5" %>
					    </div>    
						<%= submit_tag "Abschicken",:class=>"btn btn-green form-button" %>    
					<% end %>
				</div>
			</div>
		</div>
	</section>

</div>


